<div class="container-fluid">
  <div class="row">
  <div class="back">
  <div class="container">
    <div class="main">
    <div class="row">
      <div class="col-12">
        <div class="main_content">
      <div class="col-5 image">
      <div class="">
        <img class="img-fluid" [src]="myimagepath" height="300" width="300" >
       </div>
    </div>
      <div class="col-7 text-box">
      <div class="text">
            <h1><b>LanetChatApp Web</b></h1>
             <h2>Use LanetChatApp on your phone to scan the code</h2>
             <div class="check"><input type="checkbox" name="keepsignin" (change)="signin($event)"> Keep me signed in</div>
            <h6>To reduce data connect your phone to wi-fi </h6>
    </div>
      </div>
    </div>
      </div>
    </div>
      <div class="row">
      <div class="col-12">
      <div class="table-box">
         <div class="col-6 tab">

             <div class="">
                  <img class="rounded-circle" [src]="androidimg" height="32px" width="32px" style="background-color:lightblue">
                       <h4><b>Android</b></h4>
                  <h5>Open LanetChatApp - Menu - LanetChatApp Web</h5>
            </div>

         </div>
        <div class="col-6 tab">

            <div class="">
              <img class="rounded-circle" [src]="appleimg" height="32px" width="32px" style="background-color:lightblue">
              <h4><b>iPhone</b></h4>
              <h5>Open LanetChatApp - Menu - LanetChatApp Web</h5>
            </div>

        </div>

      </div>
      </div>
      </div>
    </div>
</div>
  </div>
</div>
</div>
